html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    background-image: url("../images/mint.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center calc(100% + 100px);
    background-position: center top;
    font-family: pft-ak, sans-serif;
    overflow: hidden;
}

@font-face {
    src: url("../fonts/pft.woff2") format("woff2");
    font-family: "pft-ak";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.container {
    display: flex;
    justify-content: center;
    
}

.mintWindow {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.counter {
    padding-top: 10px;
    position: absolute;
    top: 22%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;
    color: #009662;
    height: min-content;
    font-size: 72px;
    text-align: center;
    width: 22%;
}

.counterSection {
    display: flex;
    justify-content: center;
    width: 10vw;
}

.container img {
    width: 100%;
    z-index: -1;
}

.counterValue {
    margin: auto;
    /* padding: 18px; */
}

.counterBtn {
    background: none;
    color: #349465;
    font-size: 100px;
    padding: 0.8vh 4vw;
    border: none;
    cursor: pointer;
}

.container .btn {
    position: absolute;
    top: 71%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #009662;
    color: black;
    font-size: 38px;
    padding: 0.7vh 4vw;
    border: none;
    cursor: pointer;
    font-family: pft-ak, sans-serif;
    white-space: nowrap;
    width: 22%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.mintBtn {
    padding-left: 8vw;
    padding-right: 8vw;
}

.btn {
    transition: 0.1s linear;
}

.container .btn:hover {
    color: rgb(255, 255, 255);
}

.loading {
    font-weight: bold;
    display: inline-block;
    font-size: 3vw;
    margin-left: 12px;
}

.counterBtn,
.counterValue {
    font-size: 4vw;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

@media screen and (max-width: 1440px) {
    .mintWindow {
        scale: 1;
        top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .mintWindow {
        scale: 1;
        top: 222px;
    }
}

@media screen and (max-width: 900px) {
    .mintWindow {
        scale: 2;
        top: 190px;
    }

    .counter {
        padding-top: 0.4vh;
    }
}


@media screen and (max-width: 426px) {
    .mintWindow {
        scale: 2;
        top: 434px;
    }
}

@media screen and (max-width: 376px) {
    .mintWindow {
        scale: 2;
        top: 258px;
    }
}